
body{
  display: flex;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

.logo{
  width: 700px;
}

.image-container{
  height: 100%;
  background-size: cover;
  background-image: url(./image/background-logo.jpg);
}

p{
  margin: 0px;
}

.form-text{
  height: calc(20vh + 150px);
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
}

fieldset{
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 50vw;
}

.sign-up{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.sign-up > div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

input{
  height: 30px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
}

input:focus{
  outline: none;
}
.sidebar{
  position: relative;
  top: 20vh;
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

.sidebar > div{
  color: white;
  font-size: 5rem;
  font-family: norse-bold, sans-serif;
}

.odin-logo{
  height: 100px;
  width: auto;
}
.info{
  padding-top: 20px;
  height: 40vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button{
  height: 40px;
  width: 250px;
  border: 0px;
  border-radius: 20px;
}